@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
}

body {
    margin: 0;
}

input,
button {
    background-color: transparent;
    border: 0;
    outline: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 1.6rem;
}

button {
    cursor: pointer;
    padding: 0;
    margin: 0;
}

/*  phones, 600px and down */
@media only screen and (max-width: 600px) {}

/* portrait tablets and large phones, 600px and up */
@media only screen and (min-width: 600px) {}

/* landscape tablets, 768px and up */
@media only screen and (min-width: 768px) {}

/* laptops/desktops, 992px and up */
@media only screen and (min-width: 992px) {
    main {
        // width: 100%;
        flex-direction: row;
        // overflow: visible;

        .sideBar {
            flex: 1;
            width: 30%;
        }
        .mainHighlights{
            width: 70%;
            flex: 3;
        }
    }
}

/* large laptops and desktops, 1200px and up */
@media only screen and (min-width: 1200px) {
}

/* 2K desktops, 1440px and up */
@media only screen and (min-width: 1440px) {
}

/* 2K desktops, 1700px and up */
@media only screen and (min-width: 1700px) {
}

/* QHD desktops, 1920px and up */
@media only screen and (min-width: 1920px) {
    :root{
        font-size: 90%;
    }
}

/* 1440p desktops, 2048px and up */
@media only screen and (min-width: 2048px) {
    :root{
        font-size: 90%;
    }
}

/* 4k, 2460px and up */
@media only screen and (min-width: 2460px) {
    :root{
        font-size: 90%;
    }
}